In [0]:
import pandas as pd
import json

data = [('n02124075', 'egyptian_cat'),
        ('n04067472', 'reel'),
        ('n04540053', 'volleyball')]

df = pd.DataFrame(data)

with open('my_file.json', 'w') as f:
  json.dump(df.T.to_dict(orient='list'), f)

In [5]:
with open('my_file.json') as f:
  print(f.read())

{"0": ["n02124075", "egyptian_cat"], "1": ["n04067472", "reel"], "2": ["n04540053", "volleyball"]}

In [6]:
pd.read_json('my_file.json')

              0          1           2
0     n02124075  n04067472   n04540053
1  egyptian_cat       reel  volleyball