In [28]:
# Import the necessary libraries
import pandas as pd
import numpy as np

# Import the data set from https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv
# Assign it to a varaible called chipo
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'    
chipo = pd.read_csv(url, sep='\t')

# See the first 10 entries
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [32]:
# Number of observations in the dataset
chipo.info()

# OR

chipo.shape[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 126.4+ KB

4622

In [33]:
# Number of columns in the dataset
chipo.shape[1]

5

In [34]:
# Names of all the columns
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [35]:
# How the dataset is indexed
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [44]:
# The most ordered item
most_ordered = chipo.groupby('item_name')
most_ordered = most_ordered.sum()
most_ordered = most_ordered.sort_values('quantity', ascending=False)
most_ordered.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [45]:
# Number of items ordered
total_items_ordered = chipo.quantity.sum()
total_items_ordered

4972

In [51]:
# The most ordered item in the choice_description column
most_ordered_in_choice_description = chipo.groupby('choice_description').sum()
most_ordered_in_choice_description = most_ordered_in_choice_description.sort_values(['quantity'], ascending=False)
most_ordered_in_choice_description.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [63]:
# Revenue for the period in the dataset
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print("Revenue was: $" + str(np.round(revenue, 2)))

Revenue was: $39237.02

In [66]:
# Number of orders made in the period
chipo.order_id.value_counts().count()

1834

In [67]:
# Average amount per order
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [77]:
# Number of different items sold
chipo.item_name.value_counts().count()

50

In [80]:
chipo[chipo.item_name == 'Chips and Fresh Tomato Salsa'].shape[0]

110